/*reset*/
*{margin:0;padding:0}
html,body{color:#333333;background:#f1f2f3;_text-overflow:ellipsis;font-size:14px;font-family: arial,"Microsoft yahei";}
input,textarea{outline:none;}
ul,li{list-style:none;}
a{display:block;text-decoration:none;cursor:pointer;color:#333333;}
a:active{outline:0 none;}
img{border:0;}
.clearfix{*zoom:1;}
.clearfix:before, .clearfix:after{display:table;line-height:0;content:"";}
.clearfix:after{clear:both;}
.fl{float:left;}
.fr{float:right;}
.mt10{margin-top:10px;}

/* 一级页面-顶部 */
.site{min-width:1020px;}
.cw{width:80%;}
.site-head{position:fixed;top:0;width:100%;min-width:1020px;z-index:3;}
.head-inner{position:relative;height:62px;margin:0 auto;}
.site-logo{width:151px;height:57px;position:absolute;left:2px;top:2.5px;}
.site-logo img{width:100%;}
.site-share{position:absolute;right:0;top:15px;}
.site-share div{float:left;margin-right:2px;}
.share-icon{background:url(../images/share-icon.png)  no-repeat;display:block;}
.weibo-icon{height:32px;width:32px;background-position:0 0;}
.facebook-icon{height:32px;width:32px;background-position:0 -32px;}
.weixin-icon{height:32px;width:33px;background-position:0 -64px;}
.twitter-icon{height:32px;width:33px;background-position:0 -96px;}
.site-center{height:100%;position:absolute;left:191px;right:178px;}
.site-search{position:absolute;right:0;top:11px;width:46%;}
.search-inner{position:absolute;width:100%;height:36px;border:2px #4eb6fa solid;border-radius:20px;overflow:hidden;}
.search-input{width:89%;height:100%;border:0;padding-left:16px;background:#fff;font-size:14px;}
.search{position:absolute;right:0;top:0;width:36px;height:36px;background:#4eb6fa;cursor:pointer;}
.search img{margin:7px;}
.search-result{position:absolute;left:15px;top:40px;width:92%;background:#fff;display:none;}
.search-result li{height:34px;line-height:34px;padding:0 10px;}
.site-nav{position:absolute;left:0;top:11px;width:48%;min-width:350px;background:#fff;border-radius:20px;}
.site-nav li{float:left;padding:0 2%;}
.site-nav li:first-child{margin-left:2%;}
.site-nav li a{width:100%;height:100%;text-align:center;height:40px;line-height:40px;}
.site-nav li a.active{color:#4eb6fa;}

/* 一级页面-轮播 */
.slider{display:none;}
.slider a img{width:100%;height:580px;}
.carousel-nav{position:absolute;right:5%;top:20%;width:230px;background-color: rgba(255,255,255,.9);z-index:1;}
.carousel-nav a{display:block;padding:0 10px 0 15px;height:36px;line-height:36px;color:#222;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;cursor:pointer;}
.carousel-nav a.active{background:#4eb6fa;color:#fff;}

/* 一级页面-内容 */
.icon{float:left;background:url(../images/icon.png) no-repeat;margin-right:10px;}
.tv-icon{height:30px;width:30px;background-position:0 0;}
.variety-icon{height:30px;width:30px;background-position:0 -30px;}
.news-icon{height:30px;width:30px;background-position:0 -60px;}
.ani-icon{height:30px;width:30px;background-position:0 -90px;}
.movie-icon{height:30px;width:30px;background-position:0 -120px;}
.box{width:1302px;margin:20px auto;border:1px #dddedf solid;padding:0 20px;background:#fff;position:relative;}
.box-top{border-bottom:1px #f9f7f8 solid;padding:10px 0 5px;}
.title{float:left;font-size:16px;padding-right:28px;line-height:30px;position:relative;}
.title:after{content: "";display: inline-block;vertical-align: middle;width: 10px;height: 10px;border-top: 1px solid #333333;
	border-right: 1px solid #333333;position: absolute;right: 15px;top: 50%;margin-top:-1px;-webkit-transform: rotate(45deg) translateY(-50%);
	transform: rotate(45deg) translateY(-50%);-webkit-box-sizing: border-box;box-sizing: border-box;}
.nav{float:left;}
.nav li{float:left;padding:0 10px;height:30px;line-height:30px;}
.nav li a{padding-bottom:5px;}
.nav li a.current{border-bottom:1px #4eb6fa solid;color:#4eb6fa;}
.box-bottom{padding:15px 0;}
.box-bottom-left{float:left;width:354px;margin-right:20px;}
.box-bottom-center{float:left;width:354px;margin-right:20px;}
.box-bottom-right{float:left;width:554px;}
.focus{background:#f1f2f3;padding:10px;}
.focus h3{padding-bottom:5px;}
.focus h3 a{color:#fe4e4e;padding-bottom:10px;border-bottom:2px #fe4e4e solid;}
.focus li{height:24px;line-height:24px;overflow:hidden;}
.focus li a{font-size:13px;position:relative;padding-left:10px;}
.focus li a:before{content:"";display:inline-block;vertical-align:middle;width:5px;height:5px;background:#fe4e4e;position:absolute;left:0;top:9px;}
.focus li a:hover{color:#fe4e4e;}
.vedio-inner{width:48%;}
.vedio-inner p{font-size:13px;height:36px;overflow:hidden;}
.vedio-inner img{width:170px;height:95px;}
.big-vedio{width:350px;height:232px;position:relative;overflow:hidden;}
.left-btn{position:absolute;left:0;top:50%;margin-top:-21.5px;z-index:1;}
.right-btn{position:absolute;right:0;top:50%;margin-top:-21.5px;z-index:1;}
.big-vedio-inner{position:absolute;left:0;top:0;height:232px;}
.big-vedio-inner a{float:left;width:350px;height:232px;position:relative;}
.big-vedio-img{width:100%;height:100%;}
.big-vedio-desc{position:absolute;bottom:0;left:0;height:40px;background:#2e2920;width:100%;opacity:.8;}
.big-vedio-desc img{position:absolute;left:6px;top:4px;}
.big-vedio-desc span{display:block;height:40px;line-height:40px;padding-left:42px;color:#fff;}
.multi-vedio{float:left;width:32%;margin-right:2%;margin-bottom:5px;}
.multi-vedio:nth-child(3n+0){margin-right:0;}
.multi-vedio p{font-size:13px;height:36px;overflow:hidden;}
.multi-vedio img{width:170px;height:95px;}
.tv-tab{height:300px;width:1300px;position:relative;overflow:hidden;}
.tv-tab-inner{width:10000px;position:absolute;left:0;top:0;}
.tv-tab-inner a{float:left;width:200px;height:300px;margin-right:20px;}
.tv-tab-inner a:nth-child(6n+0){margin-right:0;}
.tv-tab-inner img{width:100%;height:100%;}
.tv-tab-inner p{width:200px;}
.tv-img{width:200px;height:262px;}
.btns-img{background:url(../images/btns-img.png)  no-repeat;position:absolute;top:50%;margin-top:-41px;z-index:2;}
.prev-btn{height:62px;width:31px;background-position:-31px 0;left:0;}
.prev-btn:hover{background-position:0 0;}
.next-btn{height:62px;width:31px;background-position:-93px 0;right:0;}
.next-btn:hover{background-position:-62px 0;}
.tv-tab p{width:200px;}
.big{height:19px;line-height:22px;margin-top:2px;white-space:nowrap;overflow:hidden;}
.small{font-size:12px;height:16px;line-height:18px;white-space:nowrap;overflow:hidden;}
.ani-big{width:370px;margin-right:24px;}
.ani-big img{width:370px;height:258px;}
.ani-small{width:908px;}
.ani-small a{float:left;width:170px;margin-right:14px;margin-bottom:15px;}
.ani-small a:nth-child(5n+0){margin-right:0;}
.ani-small img{width:170px;height:95px;}
.ani-small p{width:170px;white-space:nowrap;overflow:hidden;}

/* 一级页面-底部 */
.site-footer{height:210px;background:#222f35;color:#fff;}
.site-link{width:462px;margin:0 auto;overflow:hidden;padding-top:50px;}
.site-link a{float:left;color:#fff;padding:0 10px;height:16px;line-height:16px;border-right:1px #fff solid;}
.site-link a:last-child{border:0;}
.site-declaraction, .site-copyright{text-align:center;font-size:12px;}
.site-declaraction{padding:30px 0 20px;}
.site-copyright em{font-style:normal;color:#ec8e3b;}
.float-icon{background:url(../images/float-icon.png)  no-repeat;}
.close{position:absolute;right:-16px;top:-16px;height:32px;width:32px;background-position:0 0;}
.top{position:absolute;left:0;bottom:55px;height:50px;width:50px;background-position:0 -32px;}
.home{position:absolute;left:0;bottom:0;height:50px;width:50px;background-position:0 -82px;}
.float-box{position:fixed;bottom:230px;right:5%;z-index:10;display:none;}
.ewm-box{position:absolute;right:15px;top:100px;}


/* 二级页面 */
.two-cw{width:1300px;}
.swiper-container{width:1342px;}
.swiper-slide a img{width:100%;height:460px;}
.two-title{font-size:16px;color:#666666;}
.more{position:relative;padding:0 28px 0 10px;}
.more:after{content: "";display: inline-block;vertical-align: middle;width: 8px;height: 8px;border-top: 1px solid #666666;
	border-right: 1px solid #333333;position: absolute;right: 15px;top: 50%;margin-top:-1px;-webkit-transform: rotate(45deg) translateY(-50%);
	transform: rotate(45deg) translateY(-50%);-webkit-box-sizing: border-box;box-sizing: border-box;}
.two-ani-small{width:722px;margin-right:24px;}
.two-ani-small a{float:left;width:170px;margin-right:14px;margin-bottom:15px;}
.two-ani-small a:nth-child(4n+0){margin-right:0;}
.two-ani-small img{width:170px;height:95px;}
.two-ani-small p{width:170px;overflow:hidden;}
.ranking{width:162px;}
.ranking-title{font-size:16px;color:#666666;text-align:center;padding-bottom:10px;border-bottom:1px #fc7546 solid;}
.ranking-title small{color:#fc7546;}
.ranking-list li a{color:#000000;height:26px;line-height:26px;white-space:nowrap;overflow:hidden;}
.ranking-list i{display:inline-block;font-style:normal;margin-right:.4em;width:18px;height:18px;line-height:18px;color:#fff;text-align:center;font-size:13px;}
.ranking-list .orange{background:#fc7546;}
.ranking-list .gray{background:#999999;}


/* 三级页面 */
.three-title{font-size:16px;color:#666666;}
.three-title a, .three-title i{float:left;}
.three-title i{font-style:normal;margin:0 5px;}
.three-title a.active{color:#4eb6fa;}
.three-tv-box a{float:left;width:200px;margin-right:20px;margin-bottom:10px;}
.three-tv-box a:nth-child(6n+0){margin-right:0;}
.three-tv-img{width:200px;height:262px;}
.three-tv-img img{width:100%;height:100%;}
.three-tv-img p{width:200px;}
.page{width:734px;margin:20px auto 40px;}
.page a{float:left;margin-right:10px;padding:5px 10px;color:#000000;}
.page a:last-child{margin-right:0;}
.page .disSelect{border:1px #1a71e1 solid;color:#1a71e1;}
.page .disable{border:1px #d5d5d5 solid;color:#d5d5d5;}
.page .able{border:1px #1a71e1 solid;color:#1a71e1;}
.three-heng-img img{width:100%;}

/* 播放页 */
.play-left{width:960px;height:580px;}
.play-left img{width:100%;height:100%;}
.play-right{width:342px;height:580px;background:#333333;position:relative;}
.play-right-inner{padding:20px;}
.play-right h3{color:#fff;padding-bottom:15px;}
.play-btns li{float:left;width:20%;}
.play-btns a{margin-left: -1px;margin-top: -1px;height: 31px;line-height: 31px;padding: 9px 0;background: #222;border: 1px solid #333;text-align: center;
 font-size: 18px;color:#fff;display:none;}
.play-btns a.active{background:#4eb6fa;color:#fff;}
.play-btns a:hover{background:#666666;color:#fff;}
.play-two-btn{width:240px;position:absolute;bottom:20px;left:50%;margin-left:-120px;}
.play-two-btn span{width:100px;height:32px;line-height:32px;text-align:center;border-radius:20px;cursor:pointer;background:#fff;}
.play-two-btn span.active{background:#4eb6fa;color:#fff;}
.play-box{width:1302px;margin:20px auto;}
.play-box-left{width:1020px;padding:0 20px;background:#fff;margin-right:20px;padding-bottom:50px;}
.play-tv{height:300px;width:1020px;margin-top:5px;position:relative;overflow:hidden;}
.play-tv-inner{width:10000px;position:absolute;left:0;top:0;}
.play-tv-inner a{float:left;width:188px;height:300px;margin-right:20px;}
.play-tv-inner a:nth-child(5n+0){margin-right:0;}
.play-tv-inner img{width:100%;height:100%;}
.play-tv-inner p{width:188px;}
.play-tv-img{width:188px;height:262px;}
.play-box-right{width:202px;height:392px;padding:0 10px;background:#fff;}
.play-box-right h2{padding:10px 0 5px;overflow:hidden;}
.today-list{position:relative;width:202px;height:300px;margin-top:5px;overflow:hidden;}
.today-list-inner{width:202px;height:100000px;position:absolute;top:0;left:0;}
.today-list-inner a{width:202px;height:100px;position:relative;}
.today-list-inner img{width:100%;height:100%;}
.today-list-inner p{position:absolute;bottom:10px;left:0;height:26px;line-height:26px;padding:0 10px;color:#fff;background: #2e2920;opacity:.8;font-size:12px;}
.today-btns{width:100px;margin:10px auto 0;}


.today-btn{background:url(../images/today-btn.png)  no-repeat;cursor:pointer;}
.prevDefault{height:32px;width:32px;background-position:0 -32px;}
.nextDefault{height:32px;width:32px;background-position:0 -96px;}
.today-btns .prevActive{height:32px;width:32px;background-position:0 0;}
.today-btns .nextActive{height:32px;width:32px;background-position:0 -64px;}


/* 视频简介-电视剧-电影 */
.intro-tv-box{position:relative;}
.intro-tv-img{position:absolute;left:0;top:15px;width:200px;height:300px;}
.intro-tv-img img{width:100%;height:100%;}
.intro-box{padding-left:200px;margin-left:15px;height:300px;}
.intro-box h3{margin-bottom:4px;}
.intro-box p{margin-top:2px;}
.intro-box p span{color:#666;}
.refresh-time{font-size:12px;color:#707070;margin-top:5px;}
.selections-box{border:1px #4eb6fa solid;margin-top:20px;}
.selections-title{height:40px;line-height:40px;padding-left:10px;border-bottom:1px #dad9d9 solid;}
.selections-inner-box{margin:10px;}
.selections-inner-box li{float:left;width:5%;}
.selections-inner-box li.hide{display:none;}
.selections-inner-box div.all{float:left;width:10%;}
.selections-inner-box div.stop{float:left;width:10%;}
.selections-inner-box a{margin-left: -1px;margin-top: -1px;height: 31px;line-height: 31px;padding: 5px 0;background: #fbfcff;border: 1px solid #4eb6fa;
 text-align: center;font-size: 18px;color:#011b36;}
 .selections-inner-box a:hover{background:#cbe7fb;}
 .selections-btns{margin:10px;}
.selections-btns a{float:left;width:5%;height: 31px;line-height: 31px;text-align:center;border: 1px solid #4eb6fa;margin-right:10px;}
.selections-btns .active{background:#cbe7fb;}
.help-box{padding:0 0 20px 10px;}
.arr_down{    display: inline-block;width: 0;height: 0;font-size: 0;border-width: 5px;border-style: solid dashed dashed dashed;
border-color: #555 transparent transparent transparent;overflow: hidden;vertical-align: top;margin: 12px 0 0 7px;}
.arr_up {display: inline-block;width: 0;height: 0;font-size: 0;border-width: 5px;border-style: dashed dashed solid dashed;
border-color: transparent transparent #555 transparent;overflow: hidden;vertical-align: top;margin: 7px 0 0 7px;}

/* 视频简介-综艺 */
.select-inner-box{padding:10px;}
.select-inner-box a{float:left;height:34px;line-height:34px;text-align:center;margin:0 10px 10px 0;padding:0 10px;border:1px #4eb6fa solid;color:#011b36;}

/* 新闻列表 */
.news-list-box{padding:20px 10px;}
.news-list-box a{position:relative;padding:10px 0;border-bottom:1px #f2eef1 solid;}
.news-list-box .square{width:4px;height:4px;background:#fa7d7d;position:absolute;left:0;top:19px;}
.news-list{padding-left:10px;}
.news-list h3{color:#4eb6fa;margin-bottom:5px;}
.news-list p{color:#666666;}
.news-list p em{color:#fa7d7d;font-style:normal;}

/* 新闻详情 */
.news-detail-box h3{padding:50px 0 5px;font-size:18px;text-align:center;}
.news-detail-box span{display:block;text-align:center;padding-bottom:10px;border-bottom:1px #999 dashed;color:#999;}
.news-detail-box p{padding-top:10px;line-height:22px;text-indent:2em;color:#666;}

/* 搜索页 */
.newBox{width:1342px;margin:20px auto;background:#f1f2f3;}
.search-box{height:300px;padding-left:210px;}
.search-box h3{color:#dd0000;}
.search-box h3 strong{color:#333333;margin-left:10px;}
.search-box h3 small{color:#333333;}
.search-box-msg{overflow:hidden;margin-top:2px;}
.search-box-msg li{float:left;margin-right:20px;color:#414141;font-size:12px;}
.search-box-msg li span{color:#666666;}
.box-btns li{float:left;border:1px #cccccc solid}
.box-btns li:first-child{border-right:0;}
.box-btns li a{height:30px;line-height:30px;padding:2px 10px;}
.box-btns li a.active{color:#fff;background:#4eb6fa;}
.search-tv-box a{float:left;width:240px;margin-right:35px;margin-bottom:20px;}
.search-heng-img img{width:100%;height:100%;}
.search-tv-box a:nth-child(5n+0){margin-right:0;}

/* 资讯首页 */
.newBox-top{margin-top:10px;}
.newBox-imgs{float:left;width:670px;height:372px;position:relative;}
.newBox-imgs a{width:670px;height:372px;position:absolute;left:0;top:0;}
.newBox-imgs a img{width:100%;height:100%;}
.newBox-btns{float:left;width:268px;margin-left:2px;margin-right:20px;}
.newBox-btns li{padding:16px 10px;margin-bottom:3px;background:#fff;}
.newBox-btns li a{height:40px;line-height:20px;font-size:16px;overflow:hidden;text-overflow:ellipsis;}
.newBox-btns .active{background:#4eb6fa;color:#fff;}
.newBox-record{float:left;}
.newBox-record-inner{width:382px;height:158px;}
.newBox-record-inner img{width:100%;height:100%;}
.newBox-record p{width:382px;height:14px;line-height:18px;padding:5px 0;overflow:hidden;text-overflow:ellipsis;}
.newBox-focus{float:left;width:315px;padding:0 10px;}
.newBox-focus h4{font-size:18px;height:30px;line-height:30px;}
.newBox-focus h4 a{height:30px;overflow:hidden;text-overflow:ellipsis;}
.newBox-focus li{height:28px;line-height:28px;}
.newBox-vedio{float:left;width:268px;margin-top:8px;background:#e6e7e7;padding-bottom:10px;margin-right:20px;}
.newBox-vedio p.big{font-size:13px;}
.newBox-vedio img{width:100%;}
.newBox-vedios{float:left;width:384px;margin-top:8px;}
.newBox-vedios a{float:left;width:184px;height:102px;margin-right:16px;margin-bottom:16px;position:relative;}
.newBox-vedios a:nth-child(2n+0){margin-right:0;}
.newBox-vedios a img{width:100%;height:100%;}
.newBox-vedios a p{position:absolute;bottom:0;left:0;width:100%;background:#2e2920;opacity:.8;}
.newBox-vedios a p span{display:block;height:30px;line-height:30px;color:#fff;padding:0 10px;overflow:hidden;text-overflow:ellipsis;}
.newBox-title{padding-bottom:10px;}
.newBox-title .more{font-style:normal;font-size:14px;}
.newBox-title a{line-height:28px;}
.newBox-big-vedio{float:left;width:370px;height:260px;position:relative;}
.bagua-img{width:100%;height:100%;}
.newBox-big-vedio p{position:absolute;bottom:0;left:0;width:100%;height:40px;line-height:40px;background:#2e2920;opacity:.8;}
.newBox-big-vedio p img{position:absolute;top:4px;left:4px;}
.newBox-big-vedio p span{float:left;color:#fff;padding-left:42px;height:40px;overflow:hidden;}
.newBox-news{float:left;margin:0 20px;width:358px;}
.newBox-news div:first-child{padding:0 0 20px 0;}
.newBox-news div{padding:20px 0;border-bottom:1px #bfbfbf dashed;}
.newBox-news div h3{font-size:18px;margin-bottom:9px;height:24px;line-height:26px;overflow:hidden;text-overflow:ellipsis;}
.newBox-news div p{position:relative;padding-left:10px;height:16px;line-height:18px;overflow:hidden;text-overflow:ellipsis;}
.newBox-news div p:before {content: "";display: inline-block;vertical-align: middle;width: 5px;height: 5px;background: #fe4e4e;position: absolute;left: 0;top: 8px;}
.newBox-s-vedios{float:left;width:574px;}
.newBox-s-inner{float:left;margin-right:17px;margin-bottom:8px;}
.newBox-s-inner:nth-child(3n+0){margin-right:0;}
.newBox-s-inner a{position:relative;}
.newBox-s-inner a img{width:180px;height:100px;}
.newBox-s-inner a p{position:absolute;bottom:0;left:0;width:100%;height:30px;line-height:30px;color:#fff;background:#2e2920;opacity:.8;overflow:hidden;text-overflow:ellipsis;}
.newBox-s-inner a span{padding:0 5px;}
.newBox-desc{height:24px;line-height:24px;width:180px;overflow:hidden;text-overflow:ellipsis;}
.yingshi-big-vedio{float:left;width:514px;margin-right:30px;position:relative;}
.yingshi-big-vedio p{position:absolute;bottom:0;left:0;width:100%;background:#2e2920;opacity:.8;}
.yingshi-big-vedio p img{position:absolute;left:4px;top:4px;}
.yingshi-big-vedio p span{display:block;height:40px;line-height:40px;padding-left:42px;color:#fff;overflow:hidden;text-overflow:ellipsis;}
.yingshi-img{width:100%;}
.yingshi-small-vedio{float:left;width:798px;}
.yingshi-small-vedio a{float:left;width:180px;margin-right:26px;margin-bottom:10px;}
.yingshi-small-vedio a:nth-child(5n+0){margin-right:26px;}
.yingshi-small-vedio a:nth-child(4n+0){margin-right:0;}
.yingshi-small-vedio a img{width:180px;height:100px;}
.ranking img{width:100%;}

@media screen and (max-width:1400px){
	.site-center{left:161px;right:148px;}
}

@media screen and (max-width:1200px){
	.carousel-nav{right:1%;}
	.cw{width:96%;}
	.two-cw{width:96%;}
	.box{width:1000px;padding:0 15px;}
	.newBox{width:1040px;}
	.play-box{width:1000px;}
	.box-bottom-left{float:left;width:275px;margin-right:10px;}
	.box-bottom-center{float:left;width:275px;margin-right:10px;}
	.box-bottom-right{float:left;width:430px;}
	.multi-vedio{width:33.33%;margin-right:0;margin-bottom:6px;}
	.vedio-inner img{width:136px;height:76px;}
	.multi-vedio img{width:136px;height:76px;}
	.tv-tab{width:1000px;height:265px;}
	.tv-tab-inner a{width:158.4px;height:225px;margin-right:10px;}
	.tv-img{width:158.4px;height:225px;}
	.tv-tab-inner p{width:158.4px;}
	.ani-big{width:285px;margin-right:10px;}
	.ani-big img{width:285px;height:198px;}
	.ani-small{width:705px;}
	.ani-small a{width:133px;margin-right:10px;}
	.ani-small img{width:133px;height:74px;}
	.ani-small p{width:133px;}
	.big-vedio{width:275px;height:182px;}
	.big-vedio-inner{height:182px;}
	.big-vedio-inner a{float:left;width:275px;height:182px;}
	.two-ani-small{width:562px;margin-right:10px;}
	.two-ani-small a{width:133px;margin-right:10px;}
	.two-ani-small img{width:133px;height:74px;}
	.two-ani-small p{width:133px;}
	.ranking{width:132px;}
	.swiper-container{width:1022px;}
	.search-result{width:87%;}
	.play-left{width:730px;height:427px;}
	.play-right{width:270px;height:427px;}
	.play-btns a{padding:1px 0;}
	.play-two-btn{width:180px;margin-left:-90px;}
	.play-two-btn span{width:80px;height:26px;line-height:26px;}
	.play-box-left{width:718px;}
	.play-tv{width:718px;}
	.play-tv-inner a:nth-child(9){display:none;}
	.play-tv-inner a:nth-child(10){display:none;}
	.play-tv-inner a:nth-child(4n+0){margin-right:0;}
	.play-tv-inner a:nth-child(5n+0){margin-right:12.9px;}
	.play-tv-inner a{width:170px;margin-right:12.9px;}
	.play-tv-img{width:170px;}
	.three-tv-box a{width:190px;margin-right:10px;}
	.three-tv-box a:nth-child(6n+0){margin-right:10px;}
	.three-tv-img{width:190px;}
	.search-tv-box a{width:192px;margin-right:20px;}
	.newBox-imgs{width:548px;}
	.newBox-imgs a{width:548px;}
	.newBox-btns li a{font-size:14px;}
	.newBox-btns{width:180px;margin-right:10px;}
	.newBox-record-inner{width:300px;}
	.newBox-record p{width:300px;}
	.newBox-focus{width:264px;}
	.newBox-vedios a{margin-right:0;}
	.newBox-vedios a:nth-child(3){display:none;}
	.newBox-vedios a:nth-child(4){display:none;}
	.newBox-s-inner:nth-child(5){display:none;}
	.newBox-s-inner:nth-child(6){display:none;}
	.newBox-s-inner{margin-right:10px;}
	.newBox-s-inner:nth-child(2n+0){margin-right:0;}
	.newBox-s-inner:nth-child(3n+0){margin-right:10px;}
	.newBox-s-vedios{width:377px;}
	.newBox-news{width:300px;margin:0 10px;}
	.ranking-list li:nth-child(9){display:none;}
	.ranking-list li:nth-child(10){display:none;}
	.newBox-big-vedio{width:343px;}
	.yingshi-big-vedio{width:465px;margin-right:15px;}
	/*.yingshi-big-vedio img{width:100%;}*/
	.yingshi-small-vedio{width:560px;}
	.yingshi-small-vedio a{margin-right:10px;}
	.yingshi-small-vedio a:nth-child(3n+0){margin-right:0px;}
	.yingshi-small-vedio a:nth-child(5n+0){margin-right:10px;}
	.yingshi-small-vedio a:nth-child(4n+0){margin-right:10px;}
	.yingshi-small-vedio a:nth-child(7){display:none;}
	.yingshi-small-vedio a:nth-child(8){display:none;}
	.newBox-vedios{width:184px;}
}

@media screen and (max-width:768px){
	*{font-size:12px;}
	.cw{width:98%;}
	.two-cw{width:98%;}
	.site-share{display:none;}
	.site{min-width:768px;}
	.box{width:736px;}
	.newBox{width:768px;}
	.play-box{width:768px;}
	.site-logo{width:120px;height:46px;top:8px;}
	.site-nav{min-width:310px;}
	.site-head{width:768px;min-width:768px;}
	.site-center{left:135px;right:8px;}
	.search-input{font-size:12px;}
	.carousel{height:508px;}
	.box-bottom-left{width:198px;}
	.box-bottom-center{width:210px;}
	.box-bottom-right{width:308px;}
	.multi-vedio{width:31%;margin-right:8px;}
	.vedio-inner img{width:100%;height:auto;}
	.multi-vedio img{width:100%;height:auto;}
	.tv-tab{width:738px;height:220px;}
	.tv-tab-inner a{width:118px;margin-right:6px;}
	.tv-img{width:118px;height:170px;}
	.tv-tab-inner p{width:118px;}
	.big{height:18px;}
	.btns-img{top:46%;}
	.ani-big{width:200px;margin-right:10px;}
	.ani-big img{width:200px;height:140px;}
	.ani-small{width:526px;}
	.ani-small a{width:97px;}
	.ani-small img{width:100%;height:auto;}
	.site-footer{height:120px;}
	.site-declaraction{padding:10px 0 5px;}
	.site-link{padding-top:14px;}
	.site-declaraction{width:700px;margin:0 auto;line-height:20px;}
	.big-vedio{width:210px;height:139px;}
	.big-vedio-inner{height:139px;}
	.big-vedio-inner a{float:left;width:210px;height:139px;}
	.search-result{width:82%;}
	.float-box{right:10%;bottom:140px;}
	.two-ani-small{width:318px;margin-right:15px;}
	.two-ani-small a{width:99px;}
	.two-ani-small a:nth-child(3n+0){margin-right:0;}
	.two-ani-small a:nth-child(4n+0){margin-right:10px;}
	.two-ani-small a:nth-child(7){display:none;}
	.two-ani-small a:nth-child(8){display:none;}
	.two-ani-small img{width:100%;height:auto;}
	.swiper-container{width:768px;}
	.three-tv-box a{width:137px;margin-right:10px;}
	.three-tv-img{width:137px;height:200px;}
	.page{width:698px;}
	.ewm-box{right:56px;}
	.ranking-list li:nth-child(9){display:none;}
	.ranking-list li:nth-child(10){display:none;}
	.ranking-title{padding-bottom:4px;}
	.big-vedio-desc{height:32px;}
	.big-vedio-desc img{width:24px;height:24px;left:4px;}
	.big-vedio-desc span{height:32px;line-height:32px;padding-left:32px;}
	.play-left{width:566px;height:412px;}
	.play-right{width:202px;height:412px;}
	.play-btns a{padding:0;}
	.play-two-btn{width:130px;margin-left:-65px;}
	.play-two-btn span{width:60px;}
	.play-box-left{width:485px;}
	.play-tv{width:485px;}
	.play-tv-inner a{width:155px;margin-right:10px;}
	.play-tv-img{width:155px;height:220px;}
	.play-tv-inner a:nth-child(5n+0){margin-right:10px;}
	.play-tv-inner a:nth-child(4n+0){margin-right:10px;}
	.play-tv-inner a:nth-child(3n+0){margin-right:0;}
	.play-tv-inner a:nth-child(7){display:none;}
	.play-tv-inner a:nth-child(8){display:none;}
	.play-tv-inner a:nth-child(9){display:none;}
	.play-tv-inner a:nth-child(10){display:none;}
	.player-box{width:768px;}
	.search-tv-box a{width:147px;margin-right:10px;}
	.newBox-record{overflow:hidden;}
	.newBox-record a{float:left;margin-right:10px;margin-top:10px;}
	.newBox-record a:nth-child(2){margin-right:0;}
	.newBox-record-inner{width:378px;}
	.newBox-imgs{width:584px;}
	.newBox-imgs a{width:584px;}
	.newBox-focus{width:180px;margin-bottom:10px;}
	.newBox-s-vedios{width:768px;margin-top:10px;}
	.newBox-s-inner:nth-child(2n+0){margin-right:10px;}
	.newBox-s-inner:nth-child(4n+0){margin-right:0px;}
	.newBox-big-vedio{width:370px;}
	.newBox-news{width:370px;}
	.newBox-vedio{display:none;}
	.newBox-vedios{width:368px;}
	.newBox-vedios a{width:179px;margin-right:5px;}
	.newBox-vedios a:nth-child(2n+0){margin-right:0;}
	.newBox-vedios a:nth-child(3){display:block;}
	.newBox-vedios a:nth-child(4){display:block;}
	.yingshi-big-vedio{width:438px;margin-right:10px;}
	.yingshi-small-vedio{width:318px;}
	.yingshi-small-vedio a{width:99px;}
	.yingshi-small-vedio a img{width:99px;height:55px;}
	.ranking-list li:nth-child(8){display:none;}
	.newBox-btns{margin-right:0;}
}
